#chat-container .chat-list-body{
  height: 100%!important;
}

#dirfiletype1afiles, #dirfiletype1bfiles{
  max-height: 150px;
  border: 1px solid #ccc;
  padding: 5px;
  overflow-y:scroll;
}

.chat-list-body .selectize-input {
    min-height: 20px!important;
}




#chat-container {
  z-index: 101;
}

#trackfileupdates{
  color:red;
}
