#chat-container .chat-list-body{
  height: 100%!important;
}

#dirfiletype1afiles, #dirfiletype1bfiles, #ufileupd1afiles, #ufileupd1bfiles{
  max-height: 150px;
  border: 1px solid #ccc;
  padding: 5px;
  overflow-y:scroll;
}

.chat-list-body .selectize-input {
    min-height: 20px!important;
}

.hidethis{
  display: none;
}
.padding-15:has(#filecomparemessage){
  overflow:scroll;
}

#chat-container {
  z-index: 101;
}

#trackfileupdates{
  color:red;
}


table.diff{
  width: 110%!important;
}

table.diff .line-no{
  max-width: 50px!important;
}

table.diff .code{
  width: 48%!important;
}
